@model object
@{
    ViewBag.Title = "type.run";
}
<link href="~/Content/Base.css" rel="stylesheet" />

@Html.AntiForgeryToken()

<div class="page-header">
    <h1>type.run</h1>
</div>

<textarea id="code" style="display: none">@ViewBag.Code</textarea>
<div id="result" class="alert alert-success">@ViewBag.Result</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ts/CodeEditor.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ts/home/index.min.js")"></script>
}